[submodule "uvast/m3iso"]
	path = uvast/m3iso
	url = ../m3iso.git
[submodule "uvast/cldr"]
	path = uvast/cldr
	url = ../cldr.git
[submodule "uvast/uv-json"]
	path = uvast/uv-json
	url = ../uv-json.git
[submodule "misc/pt/copilot-gratis"]
	path = misc/pt/copilot-gratis
	url = ../copilot-gratis.git
